body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-color: hsl(34, 71%, 74%);
    background-color: #404;
    color: #fff;
    border: #111111;
    border: 20px;
    text-align: center;
}

a {
    padding: 20px;
    color: bisque;
}

a::after {
    color: black;
}

a:hover::after {
    color: aqua;
}